nav.navbar.navbar-expand-lg#navbar
  .container
    a.navbar-brand(href="/")
      img(src="/img/logo.png", alt="", height="22")
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarText", aria-controls="navbarText", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarText
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(href="/", aria-current="page") Home
        if username
          li.nav-item
            a.nav-link(href="/create-apartment") Create Apartments

        if role === 'admin'
          li.nav-item
            a.nav-link(href="/create-user") Create User
      .search-button
        form.form__search
          label(for="search")
            input#search(required="", autocomplete="off", placeholder="Search...", type="text")
            .icon
              svg(stroke-width="2", stroke="currentColor", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg", class="swap-on")
                path(d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z", stroke-linejoin="round", stroke-linecap="round")
              svg(stroke-width="2", stroke="currentColor", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg", class="swap-off")
                path(d="M10 19l-7-7m0 0l7-7m-7 7h18", stroke-linejoin="round", stroke-linecap="round")
            button.close-btn(type="reset")
              svg(viewBox="0 0 20 20", class="h-5 w-5", xmlns="http://www.w3.org/2000/svg")
                path(clip-rule="evenodd", d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z", fill-rule="evenodd")
      if username
       ul.navbar-nav
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#", role="button", data-bs-toggle="dropdown", aria-expanded="false")= username 
            img.avatar(src=`/img/${userAvatar}`)
          ul.dropdown-menu
            li
              a.dropdown-item(href="/change-password") Change Password
            li
              a.dropdown-item(href="/change-avatar") Change avatar
            <li><hr class="dropdown-divider"></li>
              a.dropdown-item(href="/logout") logout
      else
        .right_24px
          a.btn.btn-sm.nav-btn.btn-primary.mb-2.mb-lg-0.ms-auto(href="/login") Login

