doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css',
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
        link(rel="stylesheet", href="/css/style.css")
    
        title Create Apartment
    body 
        include ./includes/header

        .container.mt-4
            h1 Create Apartment
            form.container(method="POST" action="/store-apartment" enctype="multipart/form-data")
                .mb-3
                    label(for="apartment-title" class="form-label")  Title
                    input(type="text" class="form-control" name="title" id="apartment-title")
                    label(for="description-input" class="form-label") Description
                    textarea(cols="200", rows="5" class="form-control" name="description" id="description-input")
                    label(for="address-input" class="form-label") Address
                    input(type="text" class="form-control" name="address" id="address-input")
                    label(for="formFile" class="form-label") Default file input example
                    input.form-control.ipwidth(type="file" id="formFile" name="cover")

                button(type="submit" class="btn btn-primary") Create


        include ./includes/footer

    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js', 
    integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM', crossorigin='anonymous')
